/*Seteamos los valores por defecto del navegador con el selector universal asterisco*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

/*Incluimos las fuentes que importamos (Google Fonts) en el BODY*/
body{
     font-family: "Ubuntu", sans-serif;
     background-color: #f8f9fa; 
}

/*Comportamiento del SCROLL*/

:root{
	scroll-behavior: smooth;
}

/*-------------------------*/

/*PRINCIPIO DE ESTILOS DE LA PORTADA*/
header{
	/*Con el "vh" obtenemos la altura del dispositivo*/
	height: 100vh;
	/*este borde servia solo como referencia*/
	/*border: solid thin #d41e11;*/
	background-image: linear-gradient(135deg,#020024 20%,#5656b9 100%,#00d4ff 100%);
	/*Con esta propiedad respeta el tamaño original de la imagen*/
	background-size: cover;
	/*Para que no se repita en pantallas muy grandes*/
	background-repeat: no-repeat;
	/*fijamos la imagen cuando hacemos scroll*/
	background-attachment: fixed;
	/*centramos la imagen*/
	background-position: center;
}


.menu-content{

      position: fixed;
	 width: 100vw;
	 height: 7%;
	 background-color: #fff;
	 z-index: 99;
	 border:solid 0.8px #f5f5f5;
	 box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

/*Menu desplegable*/
.menu-navegacion{
	width: 30vw;
	height: 100%;
	top: 0;
	right: 0;
	margin-right: 20px;
	background-color: #fff;
	/*Establecemos la imagen de fondo que es un color degradado*/
	/*background-image: linear-gradient(135deg,#667eea 0,#764ba2 100%);*/
	/*Acomodamos los elementos*/
	display: flex;
	/*Los dejamos en columna*/
	flex-direction: row;
	/*Con esto se separaran uno de otro los elementos*/
	justify-content: space-evenly;
	align-items: center;
	float: right;
}
.candado{
	width: 23px;
	height: 23px;
	margin-right: 2px;
}
.register{
	border: solid 1px #000;
	padding: 5px;
	border-radius: 25px;
}
.register:hover{
	background-color: #bfed28;
}


.menu-navegacion a{
	color: #000;
	text-decoration: none;
	font-size: 20px; 
}

.menu-navegacion a:hover{
	font-weight: 400;
	color: #B66D47;

}

/*Centramos el contenedor*/
.contenedor{
	width: 90%;
	max-width: 1200px;
	/*Ocultamos el contenido sobresaliente del elemento*/
	overflow: hidden;
	margin: auto;
	/*Arriba/abajo y los costados*/
	padding: 60px 0;
	
}

/*Segunda clase del Contenedor*/
.head{
	padding: 0;
	/*Ocupamos toda la altura*/
	height: 100%;
	/*Acomodamos los elementos*/
	display: flex;
	justify-content: center;
	align-items: center;

	/*Columnas de elementos (No uno al lado de otro)*/
	flex-direction: column;

	color: #fff;
	text-align: center;
}

.titulo{
	font-size: 60px;
	margin-bottom: 15px;
}

.copy{
	font-weight: 300;
	font-size: 25px;

}
.btn-start{
	margin-top: 20px;
	text-decoration: none;
	display: block;
	font-size: 30px;
	background-color: #d40d45;
	color: #fff;
	width: 300px;
	border: solid 2px #b528ed;
	border-radius: 25px;
	font-weight: 600;

}
.btn-start:hover{
	background-color:#e8275e;	
}

/*Solo estara activa con el clic en el menu hamburgesa
Aparece el menu de navegacion*/
.spread{
    transform: translate(0);

}
/*FIN DE LOS ESTILOS DE PORTADA*/



/*ESTILOS SECCION DE SERVICIOS*/
.titulo-plan{
	text-align: center;
	font-size: 50px;

}
.pricing{

	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 50px;

}
.nivel{
	font-size: 30px;
}
.precio{
	position: relative;
}
.peso{
	position: absolute;
	left: -2px;
	color: #8e8e8e;
	

}
.numero{
	font-size: 60px;
	font-weight: 600;
}
.mes{
	color: #8e8e8e;
	font-size: 15px;
}
.tabla{
	margin: auto;
	background-color: #fff;
	padding: 30px;
	border: solid 0.8px #f5f5f5;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.tabla:hover{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transition: 0.7s;
}
.caracteristicas{
	font-size: 20px;

}
.caracteristicas p{
     margin-top: 20px;
}
.tabla a{
	background-color: #133ed6;
	color: #fff;
	text-decoration: none;
	padding: 8px 22px;
	margin-top: 20px;
	display: block;
	border-radius: 20px;
}
.tabla a:hover{
	background-color: #2d54e0;
}
.silver{
	color: #bbc2cc;

}
.gold{
	color: #cd9900;
  
}
.premium{
	color: #0cab71;

}
.tabla-media{
	height: 500px;
	margin: auto;
	background-image: url(iconos/golden-star-background.png);	
}
.btn-help{
	text-align: center;
	padding: 5px;
	text-decoration: none;
	display: block;
	font-size: 20px;
	background-color: #d40d45;
	color: #fff;
	width: 200px;
	border: solid 2px #b528ed;
	border-radius: 25px;
	font-weight: 600;
	margin: auto;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}



/*FIN DE ESTILOS SECCION SERVICIOS*/




/*INICIO ESTILOS SECCION DOMINIO*/
.domain{
	background-color: #d8dbe6;
}
.cont-formu{
	width: 100%;
}
.form-domain{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
}
.form-domain input{

	width: 100%;
	height: 40px;
}
.entry{
	font-family:'Ubuntu', sans-serif;
	color:#64697a;
	font-size: 20px;
	border: solid 0.9px #b528ed;
	border-radius: 25px;
	text-indent: 15px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);


}
.btn-buscar{
	font-size: 25px;
	margin-left: -30px;	
	background-color: #d40d45;
	color: #fff;
	border: solid 2px #b528ed;
	border-radius: 25px;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.btn-buscar:hover{
	background-color:#e8275e ;
}

/*FIN DE ESTILOS SECCION DOMINIO*/

/*INICIO ESTILOS SECCION CONTACTO*/

.contact{
	display: flex;
	
	margin: auto;
	flex-wrap: wrap;
	height: 100vh;
}
.titulo-contacto{
	font-size: 30px;
	margin: auto;

}
.img-contacto{
	width: 30%;
	display: block;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	object-fit: cover;
}

/*FIN ESTILOS SECCION CONTACTO*/

/*INICIO ESTILOS FOOTER*/

footer{
	background-color: #9f8ad0;
	padding-bottom: 0.1px;
}

.footer-content{
	/*Acomodamos los elementos*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px;

}

.contact-us{
	width: 40%;
	color: #fff;
}

.brand{
	font-weight: 500;
	font-size: 40px;

}

.contact-us p{
	font-weight: 500;
}

.social-media{
	width: 50%;
	display: flex;
	/*Lo ubicamos al final*/
	justify-content: flex-end;
	color: #000;
}

.social-media-icon{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border: solid 1px #fff;
	/*Lo hacemos redondo*/
	border-radius: 50%;
	text-align: center;
	color: #fff;
}

.social-media-icon:hover{
	background-color: #fff;
	color: #764ba2;
}

.social-media-icon i{
	width: 70%;
	height: 70%;
	text-align: center;
	line-height: 60px;
}

/*--Linea divisoria--*/
.line{
	width: 90%;
	max-width: 1200px;
	/*Lo centramos*/
	margin: 0 auto;
     height: 2px;
     background-color: #fff;
     margin-bottom: 60px;
}
/*--------Fin--------*/

/*FIN ESTILOS FOOTER*/


